/* reset */
body {
    padding: 0;
    margin: 0;
}

/* index */
body {
  padding: 50px;
  font: 1em "Montserrat", Helvetica, Arial, sans-serif;
  text-align: center;
}

.title {
  font: 8em "Montserrat", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}

.subtitle {
  font: 2em "Montserrat", Helvetica, Arial, sans-serif;
  color: #737373;
  margin-bottom: 30px;
}

a {
  font-size: 1.2em;
  color: #33b5e5;
}
